* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgray;
}

.layout {
    display: grid;
    grid-template: auto 1fr auto/1fr;
    grid-template-areas: "header" "content" "footer";
    height: 100%;
    max-height: 100vh;
    width: 100%;
}

header {
    grid-area: header;
    background-color: #FFF;
    height: 60px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
}

main {
    grid-area: content;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    padding: 16px;
}

footer {
    grid-area: footer;
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.card {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

nav {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 24px 16px;
}

#screen-01 {
    height: 2000px;
    background-color: lightskyblue;
    background-image: linear-gradient(to bottom, lightskyblue, lightgreen);
    overflow: hidden;
}

#screen-02 {
    height: 2000px;
    background-image: linear-gradient(to bottom, lightyellow, lightsalmon);
    overflow: hidden;
}

.hidden {
    display: none !important;
}
